DATABASE_URL="postgresql://postgres.nmszaveicecdyhplydgd:Vietanhcoi2003@aws-0-ap-south-1.pooler.supabase.com:5432/postgres"
AUTH_SECRET="gQm/l60dnJrEoWl4tATgTEGn6uNg1ihaFIsXfHOeqkPeExttZCTK/OmQqY5Ln8El"
NEXT_PUBLIC_APP_URL="https://htg-edu.vercel.app"
EMAIL_FROM="HTG EDU <no-reply@example.com>"
SMTP_URL=""
STORAGE_PUBLIC_URL=""
ORDER_EXPIRY_MINUTES="1440"
